@page "/design"

<div class="design-pizza">
    <div class="design-pizza__container">
        <div class="design-pizza__design-column">

        </div>
        <div class="design-pizza__toppings-column">
            <PizzaToppingsComponent Toppings="Toppings"/>
        </div>
    </div>
</div>