<button class="navbar-cart" @onclick="ShowCheckoutPopup">
    <svg class="navbar-cart__icon">
        <use xlink:href="images/carts.svg#icon-cart"></use>
    </svg>
    <span>@ItemsCount</span>
</button>

@code {
    [Inject]
    private IDialogService dialogService { get; set; }

    [Parameter]
    public int ItemsCount { get; set; }

    private void ShowCheckoutPopup()
    {
         dialogService.Show<CheckoutPopup>("Check Out");
    }
}
