<div class="minimized-topping">
    <p class="minimized-topping__title">@Topping?.Name</p>
    <img class="minimized-topping__img" src="@ToppingsHelper.GetToppingImg(Topping.Name)" alt="topping" />
    <p class="minimized-topping__price">
        KES 
        <span>@Topping?.Price</span>
    </p>
</div>

@code {
    [Parameter]
    public Topping? Topping { get; set; }

}
