<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Pizza Mtaani</a>

        <div class="navbar-links">
            <ul class="navbar-nav navbar-links__ul">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="design">
                        Design A Pizza
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="contact">
                        Contact
                    </NavLink>
                </li>
            </ul>
        </div>
        <div class="navbar-actions">
           <CartNavComponent ItemsCount="itemsCount"/>
        </div>
        <button title="Navigation menu" type="button" class="navbar-toggler" @onclick="ToggleNavMenu">
            <svg class="navbar-toggler__icon">
                <use xlink:href="images/options.svg#icon-menu1"></use>
            </svg>
        </button>
    </div>
    <div class="@NavMenuCssClass navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="design">
                    Design A Pizza
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="contact">
                    Contact
                </NavLink>
            </li>
        </ul>
    </div>
</nav>


