.checkout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem 1rem;

    &__order-items {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        padding: .25rem;
        min-height: 35rem;
        background-color: var(--light-grey);
        box-shadow: inset 0 0 10px #d7d7d7;
    }

    &__prices {
        & .price-text {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            & .caption {
                font-weight: 700;
            }

            & .price {
                color: var(--price-color);
            }
        }
    }
}
