.order-item{
    width: 100%;
    min-height:6.5rem;
    background-color: #fff;
    display:inline-flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
   


    &__title{
        display: inline-block;
        font-weight:700;
        margin-left: .5rem;
    }

    p{
        margin-bottom:0;
    }

    &__quantity{
        color: var(--dark-grey);
    }

    &__price{
        font-size: 1.5rem;

        & span{
            color: var(--price-color);
        }
    }

    &__actions{
        & .btn{
            margin-left: auto;
            border:none;
            cursor: pointer;

            &:disabled{
                cursor:no-drop;
            }

            &__icon{
                height: 2rem;
                width: 2rem;
                fill: var(--primary-color);
            }
        }
    }
}
